.menu{
    display: none;
}

nav{
    width: 100%;
    min-width: 320px;
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
}

.logo-sabujcha{
    position: absolute;
    left: calc(50% - 118px);
    display: block;

}

.list-menu{
    display: flex;
    gap: 10px;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: 'Work Sans', sans-serif;
    padding: 15px 15px;
}

